body{
	background: #f9e933;
	font-family: 'Droid Sans',sans-serif;
	font-size: 100%; /*base font size*/
}

h1.styleitalic{
	font-style: italic;
	color: 	#B22222;
}
/*main - FAQ*/
.maincontentFAQ{
	background: #C3FDB8;
	margin-bottom: 1px;
}
/*problems - FAQ*/
h3.stylenew{
	font-style: italic;
	color:#25383c;
}
/*answers - FAQ*/
div.newstyle{
	background: #BCC6CC;
}

p.red{
	color: red;
}

a{
	text-decoration: none;
	color: red;
}
a:hover{
	text-decoration: underline;
}

.p_width{
	width: 365px;
}

nav a{
	font-size: large;
}
h1,h2,h3,h4{
	font-family: 'Ubuntu',sans-serif;
}

/*setting heading sizes and margins*/
h1{
	font-size: xx-large;
	margin: 20px 10px 20px 0px;
}

h2{
	font-size: x-large;
	margin: 18px 9px 18px 0px;
}


h3{
	font-size: large;
	margin: 16px 8px 16px 0px;
}

h4{
	font-size: small;
	margin: 14px 7px 14px 0px;
}

h5{
	font-size: 1.2em;
	margin: 12px 6px 12px 0px;
}

h6{
	font-size: xx-small;
	margin: 10px 5px 10px 0px;
}


header, main, footer{
	min-width: 855px;
	
}

header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto;
	padding: 10px;
}

header{
	overflow: auto;
	background: white;
}

/*floating header elements*/
header h1{
	float: left;
	width: 520px;
}

header nav{
	float: right;
	width: 285px;
}

main{
	background: white;
	overflow: auto;
	border: 1px solid grey;
}

/*floating the main elements*/
div.maincontent{
	float: left;
	width: 480px;
	margin-bottom: 1px;
}

div.mainimage{
	float: right;
	width: 300px;
	margin-bottom: 1px;
}

.image{
	padding: 10px;
	margin: auto;
}


/*span in tab-elements*/
.tabs a span{
	display: inline-block;
	border-radius: 5px 5px 0px 0px;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

/*active tab*/
.tabs a span.active{
	background: #eee;
}



footer{
	overflow: auto;
}
/*floating footer elements*/
div.contact{
	float: left;
	width: 570px;
}

div.sitemap{
	float: right;
	width: 285px;
}


.li_float_left{
	float: left;
	width: 80px;
	margin-bottom:1px;
}

.li_float_right{
	float: right;
	width: 120px;
	margin-bottom:1px;
}

