body{
	width: 800px;
	background: lightcyan;
	color: #ff1a0c;
	margin: auto;
}

span{
	color: #0000ff;
}

p{
	color: #00ff00;
}

/*classes*/
.new{
	border: 2px solid maroon;
	text-align: center;
	padding: 10px;
}

.newp{
	border: 1px dashed blue;
}

.first{
	background: #000000;
	color: #ff0000;
}

p.first{
	color: blue;
	margin:10px;
	padding: 20px;
	background: white;
}

/*psedo classes*/
a{
	color: #12a23f;
}

a:visited{
	color: tomato;
}

a:hover{
	color:green;
	text-decoration: underline;
}

/*styles for complex-tags*/
li{
	color: brown;
}

ol{
	border: solid black;
	border-radius: 10px;
}

ol li{
	color: cyan;
}

.content li{
	color: tomato;
}

li:first-child{
	background: yellow;
}
li:nth-child(3){
	background: orange;
}